<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
        <div class="welcome-slides owl-carousel">

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="/style/img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Recherches des <br> offres d'<span>emploi</span></h2>
                                    <a href="/offres/allOffres" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Offres d'emploi</a>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="/style/img/bg-img/ordinateur-job.png" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="/style/img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Recherches des<br> propositions de<span> transport</span></h2>
                                    <a href="/trajet/viewTrajet" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Voir les propositions</a>
                                    <a href="/trajet/nouveauTrajet" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Proposer un nouveau trajet</a>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="/style/img/bg-img/ordinateur-job.png" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="/style/img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Envoyez des <br> offres d'<span>emploi</span></h2>
                                    <% if utilisateur_signed_in? %>
                                        <a href="/offres/creaOffres" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Nouvelle offre</a>
                                    <% else %>
                                        <a href="/utilisateurs/sign_in" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Me connecter</a>
                                    <% end %>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="/style/img/bg-img/ordinateur-job.png" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->
    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-80">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-us-thumbnail mb-80">
                        <img src="/style/img/bg-img/2.jpg" alt="">
                        <!-- Video Area -->
                        <!--
                        <div class="uza-video-area hi-icon-effect-8">
                            <a href="https://www.youtube.com/watch?v=sSakBz_eYzQ" class="hi-icon video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        -->
                    </div>
                </div>

                <!-- About Us Content -->
                <div class="col-12 col-lg-6">
                    <div class="section-heading mb-5">
                        <h2>Comment ça marche ?</h2>
                    </div>

                    <div class="about-us-content mb-80">
                        <div class="about-tab-area">
                            <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">CRÉER UN COMPTE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">CANDIDATER</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Mona Tab Content -->
                        <div class="about-tab-content">
                            <div class="tab-content" id="mona_modelTabContent">
                                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>La première étape est de créer votre compte afin de pouvoir vous connecter et consulter ou créer des annonces. Vous pouvvez ainsi sauvegarder les annonces que vous souhaitez garder de côté.</p>
                                        <a href="/utilisateurs/sign_up" style="" class="btn uza-btn mt-30">Créer un compte</a>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>Une fois votre compte créé vous pourrez consulter les annonces disponibles et candidater pour certaines d'entre elles en envoyer votre CV.</p>
                                        <a href="/offres/allOffres" class="btn uza-btn mt-30">Voir les offres</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="/style/img/core-img/curve-2.png" alt="">
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="uza-blog-area">
            <!-- Background Curve -->
            <div class="blog-bg-curve">
                <img src="/style/img/core-img/curve-4.png" alt="">
            </div>

            <div class="container">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Dernières offres</h2>
                            <p>Voici les dernières offres postées sur JustJob</p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post bg-img mb-80">
                            <!-- Post Content -->
                            <div class="post-content">
                                <span class="post-date"><span>07</span> février 2019 à 10h27</span>
                                <a href="#" class="post-title">Nom de l'offre</a>
                                <p>Description de l'offre avec détails et tout ce qui va bien.</p>
                                <a href="#" class="read-more-btn">Voir l'offre <i class="arrow_carrot-2right"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post bg-img mb-80">
                            <!-- Post Content -->
                            <div class="post-content">
                                <span class="post-date"><span>29</span> janvier 2019 à 11h03</span>
                                <a href="#" class="post-title">Nom de l'offre</a>
                                <p>Description de l'offre avec détails et tout ce qui va bien.</p>
                                <a href="#" class="read-more-btn">Voir l'offre <i class="arrow_carrot-2right"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post bg-img mb-80">
                            <!-- Post Content -->
                            <div class="post-content">
                                <span class="post-date"><span>14</span> janvier 2019 à 17h34</span>
                                <a href="#" class="post-title">Nom de l'offre</a>
                                <p>Description de l'offre avec détails et tout ce qui va bien.</p>
                                <a href="#" class="read-more-btn">Voir l'offre <i class="arrow_carrot-2right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ***** Blog Area End ***** -->
