<!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Mon compte</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="/style/img/core-img/curve-5.png" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="blog-details-area section-padding-80">
        <div class="container">
            <div class="col-12 col-lg-12">
                <div class="about-us-content mb-80">
                    <div class="about-tab-area">
                        <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">OFFRES SAUVEGARDÉES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">MES OFFRES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">HANDICAPS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">PARAMÈTRES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/utilisateurs/sign_out">DÉCONNEXION</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Mona Tab Content -->
                    <div class="about-tab-content">
                        <div class="tab-content" id="mona_modelTabContent">
                            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                                <!-- Tab Content Text -->
                                <div class="tab-content-text">
                                    <div class="container">
                                        <div class="row">
                                            <!-- Single Blog Post -->
                                            <div class="col-12 col-lg-4">
                                                <div class="single-blog-post bg-img mb-80">
                                                    <!-- Post Content -->
                                                    <div class="post-content">
                                                        <span class="post-date"><span>07</span> février 2019 à 10h27</span>
                                                        <a href="#" class="post-title">Nom de l'offre</a>
                                                        <p>Description de l'offre avec détails et tout ce qui va bien.</p>
                                                        <a href="singleOffre.php" class="read-more-btn">Voir l'offre <i class="arrow_carrot-2right"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="col-12 col-lg-4">
                                                <div class="single-blog-post bg-img mb-80">
                                                    <!-- Post Content -->
                                                    <div class="post-content">
                                                        <span class="post-date"><span>07</span> février 2019 à 10h27</span>
                                                        <a href="#" class="post-title">Nom de l'offre</a>
                                                        <p>Description de l'offre avec détails et tout ce qui va bien.</p>
                                                        <a href="singleOffre.php" class="read-more-btn">Voir l'offre <i class="arrow_carrot-2right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                                <!-- Tab Content Text -->
                                <div class="tab-content-text">
                                    <h5>Aucune offre à afficher</h5>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3">
                                <!-- Tab Content Text -->
                                <div class="tab-content-text">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-8">
                                                <form action="#" method="post">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control mb-30" name="handicap" placeholder="Description de vos éventuels handicaps" value="">
                                                            </div>
                                                        </div>
                                                        <button style="margin-left: 15px;" class="btn uza-btn btn-1" data-animation="fadeInUp" data-delay="700ms">Enregistrer</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-4">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab4">
                                <!-- Tab Content Text -->
                                <div class="tab-content-text">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-8">
                                                <form action="#" method="post">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control mb-30" name="nom" placeholder="Nom" value="<%=current_utilisateur.nom%>">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control mb-30" name="prenom" placeholder="Prénom" value="<%=current_utilisateur.prenom%>">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <input type="email" class="form-control mb-30" name="email" placeholder="Adresse email" value="<%=current_utilisateur.email%>">
                                                            </div>
                                                        </div>
                                                        <button style="margin-left: 15px;" class="btn uza-btn btn-1" data-animation="fadeInUp" data-delay="700ms">Enregistrer les modifications</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-4">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
