
<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcrumb-area">
  <div class="container h-100">
      <div class="row h-100 align-items-end">
          <div class="col-12">
              <div class="breadcumb--con">
                  <h2 class="title">Créer un compte</h2>
              </div>
          </div>
      </div>
  </div>

  <!-- Background Curve -->
  <div class="breadcrumb-bg-curve">
      <img src="/style/img/core-img/curve-5.png" alt="">
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<!-- ***** Blog Area Start ***** -->
<section class="uza-newsletter-area">
  <div class="container nl-form mb-80">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="row">
              <div class="col-lg-6">
                  <div class="form-group">
                      <%= f.text_field :prenom, autofocus: true, placeholder: "Prénom" %>
                      <%= f.email_field :email, autocomplete: "email", placeholder: "Adresse email" %>
                      <%= f.telephone_field :tel, autocomplete: "telephone", placeholder: "Téléphone" %>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group">
                      <%= f.text_field :nom, placeholder: "Nom" %>
                      <%= f.date_field :dateNaiss, autocomplete: "date de naissance", placeholder: "Date de naissance" %>
                      <%= f.text_field :description, autocomplete: "Description du handicap", placeholder: "Description du handicap"%>
                  </div>
              </div>
              <div class="col-lg-12">
                  <%= f.text_field :adresse, autocomplete: "adresse", placeholder: "Adresse" %>
              </div>
              <div class="col-lg-6">
                  <div class="form-group">
                      <%= f.text_field :codePostal, autocomplete: "code postal", placeholder: "Code postal" %>
                      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Mot de passe" %>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group">
                      <%= f.text_field :ville, autocomplete: "ville", placeholder: "Ville" %>
                      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Confirmation" %>
                  </div>
              </div>
              <div class="col-lg-12">
                  <%= f.label :sexe %><br/>
                      <%= f.radio_button :sexe, "H" %>Homme
                      <%= f.radio_button :sexe, "F" %>Femme
                      <%= f.radio_button :sexe, "A" %>Autre
              </div>
              <div class="col-lg-12">
                  <%= f.submit "S'inscrire" %>
              </div>
          </div>
      <% end %>
      <div class="nl-content mb-80" style="margin-top: 20px;">
          <p><a href="login">J'ai déjà un compte</a></p>
      </div>
  </div>
</section>
<!-- ***** Blog Area End ***** -->