<!-- ***** Breadcrumb Area Start  ***** -->
<div class="breadcrumb-area">
  <div class="container h-100">
    <div class="row h-100 align-items-end">
      <div class="col-12">
        <div class="breadcumb--con">
          <h2 class="title">Trajets proposés</h2>
        </div>
      </div>
    </div>
    <a href="/trajet/nouveauTrajet" class="btn uza-btn btn-1">Nouveau trajet</a>
  </div>

  <!-- Background Curve -->
  <div class="breadcrumb-bg-curve">
    <img src="/style/img/core-img/curve-5.png" alt="">
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<!-- ***** Blog Area Start ***** -->
<div class="uza-blog-area section-padding-80">
  <div class="container">
    <div class="row">
      <!-- Single Blog Post -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-post bg-img mb-80">
          <!-- Post Content -->
          <div class="post-content">
            <span class="post-date">Du 02/01/2019 au 24/02/2019</span>
            <a href="#" class="post-title">Nancy</a>
            <p>Véhicule : Golf</p>
            <a href="/trajet/viewTrajet" class="read-more-btn">Voir le trajet <i class="arrow_carrot-2right"></i></a>
          </div>
        </div>
      </div>

      <!-- Single Blog Post -->
      <div class="col-12 col-lg-4">
          <div class="single-blog-post bg-img mb-80">
            <!-- Post Content -->
            <div class="post-content">
              <span class="post-date">Du 02/01/2019 au 24/02/2019</span>
              <a href="#" class="post-title">Nancy</a>
              <p>Véhicule : Golf</p>
              <a href="/trajet/viewTrajet" class="read-more-btn">Voir le trajet <i class="arrow_carrot-2right"></i></a>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
<!-- ***** Blog Area End ***** -->