<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcrumb-area">
  <div class="container h-100">
    <div class="row h-100 align-items-end">
      <div class="col-12">
        <div class="breadcumb--con">
          <h2 class="title">Nouveau trajet</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Background Curve -->
  <div class="breadcrumb-bg-curve">
    <img src="/style/img/core-img/curve-5.png" alt="">
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<!-- ***** Blog Area Start ***** -->
<section class="uza-newsletter-area">
  <div class="container">
    <form action="nouveauTrajet" method="post">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control mb-30" name="destination" placeholder="Destination">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control mb-30" name="typeVehicule" placeholder="Type de véhicule nécessaire">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input type="date" class="form-control mb-30" name="dateDebut" placeholder="Date de début de covoiturage">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input type="date" class="form-control mb-30" name="dateFin" placeholder="Date de fin de covoiturage">
          </div>
        </div>
        <div class="col-12">
          <button class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Ajouter la demande de covoiturage</button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- ***** Blog Area End ***** -->