<!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Se connecter</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="/style/img/core-img/curve-5.png" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="uza-newsletter-area">
      <div class="container nl-form mb-80">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Adresse email" %>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <%= f.password_field :password, autocomplete: "password", placeholder: "Mot de passe" %>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                      <%= f.submit 'Se connecter' %>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="nl-content mb-80" style="margin-top: 20px;">
            <p><a href="inscription">Créer un compte</a> - <a href="resetPassword.php">J'ai oublié mon mot de passe</a></p>
        </div>
      </div>
    </section>
