<!-- ***** Breadcrumb Area Start  ***** -->
<div class="breadcrumb-area">
  <div class="container h-100">
    <div class="row h-100 align-items-end">
      <div class="col-12">
        <div class="breadcumb--con">
          <h2 class="title">Offres d'emploi</h2>
        </div>
      </div>
    </div>
  </div>

  <section class="uza-newsletter-area" style="margin-top: 30px;">
    <div class="container nl-form mb-80">
      <%= form_tag recherche_offre_path, :method => 'get' do %>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <%= text_field_tag :search, params[:search], autofocus: true%>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <%= submit_tag "Rechercher" %>
            </div>
          </div>
        </div>
      <% end  %>
    </div>
  </section>

  <!-- Background Curve -->
  <div class="breadcrumb-bg-curve">
    <img src="/style/img/core-img/curve-5.png" alt="">
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<!-- ***** Blog Area Start ***** -->
<div class="uza-blog-area section-padding-80">
  <div class="container">
    <div class="row">

      <% @annonces.each do |a| %>
        <div class="col-12 col-lg-4">
          <div class="single-blog-post bg-img mb-80">
            <!-- Post Content -->
            <div class="post-content">
              <span class="post-date">Expire le <%= a.dateExpiration %></span>
              <a href="#" class="post-title"><%= a.nom %></a>
              <p> Organisme : <%= a.nomOrganisme %></p>
              <p><%= a.courteDescr %>></p>
              <a href="/offres/singleOffre/<%= a.id %>" class="read-more-btn">Voir l'offre <i class="arrow_carrot-2right"></i></a>
            </div>
          </div>
        </div>
      <% end %>



    </div>
  </div>
</div>
<!-- ***** Blog Area End ***** -->