<!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Nouvelle offre</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="/style/img/core-img/curve-5.png" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="uza-newsletter-area">
        <div class="container">
            <form action="creaOffres" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control mb-30" name="nomOffre" placeholder="Nom de l'offre">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control mb-30" name="nomOrganisme" placeholder="Nom de l'organisme">
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <select name="categorie" id="categorie">
                          <option> Choisir une catégorie</option>
                          <% @liste.each do |cate| %>
                            <option value=<%= cate.id %>><%= cate.titre %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control mb-30" name="adresse" placeholder="Adresse du lieu de travail">
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="form-control mb-30" name="ville" placeholder="Ville">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="number" class="form-control mb-30" name="codePostal" placeholder="Exemple : 54000">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <select name="categorie" id="categorie">
                          <option value="CDI" selected>CDI</option>
                          <option value="CDD">CDD</option>
                          <option value="Interimaire">Intérimaire</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control mb-30" name="courteDescr" rows="2" cols="80" placeholder="Courte description"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control mb-30" name="descritif" rows="14" cols="80" placeholder="Contenu de l'offre"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label> Date d'expiration de l'offre </label>
                        <input type="date" class="form-control mb-30" name="dateExpiration"/>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label> Date de début de l'emploi </label>
                        <input type="date" class="form-control mb-30" name="dateDebut"/>
                      </div>
                    </div>

                    <div class="col-12">
                        <button class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Ajouter l'offre</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->
