<!-- ***** Breadcrumb Area Start  ***** -->
<div class="breadcrumb-area">
  <div class="container h-100">
    <div class="row h-100 align-items-end">
      <div class="col-12">
        <div class="breadcumb--con">
          <h2 class="title">Résultat(s) de la recherche</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Background Curve -->
  <div class="breadcrumb-bg-curve">
    <img src="/style/img/core-img/curve-5.png" alt="">
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<!-- ***** Blog Area Start ***** -->
<div class="uza-blog-area section-padding-80">
  <div class="container">
    <div class="row">
      <% @nbResultats = 0%>
      <% @annonce.each do |a| %>
        <% @nbResultats += 1%>
        <p> <%= a.nom %> <%= a.nomOrganisme %></p>
      <% end %>
    </div>
  </div>
</div>