<!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title"><%= @annonceSolo.nom %></h2>
                        <p>Date d'expiration de l'offre : <%= @annonceSolo.dateExpiration %></p>
                        <p>Date de début de l'emploi : <%= @annonceSolo.dateDebut %></p>
                        <p>Publié le <span style="color: #1583e9;"></span> <%= @annonceSolo.dateExpiration %> <a href="/utilisateurs/publicAccount" style="color: #1583e9;"> utilisateur n°<%= @annonceSolo.utilisateur_id %> </a> - Nom de l'établissement : <%= @annonceSolo.nomOrganisme%></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="/style/img/core-img/curve-5.png" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="blog-details-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-details-content">
                        <!-- Post Details Text -->
                        <div class="post-details-text">

                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-10">
                                    <p><%= @annonceSolo.descritif %></p>
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Postuler</button>
                                                <button style="margin-left: 10px;" class="btn uza-btn btn-1" data-animation="fadeInUp" data-delay="700ms">Sauvegarder</button>
                                                <button style="margin-left: 10px;" class="btn uza-btn btn-1" data-animation="fadeInUp" data-delay="700ms">Éditer</button>
                                                <button style="margin-left: 10px;" class="btn uza-btn btn-1" data-animation="fadeInUp" data-delay="700ms">Supprimer</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->
