<p>Bonjour <%= @email %>!</p>

<p>Vous pouvez confirmer votre adresse mail en cliquant sur le lien ci-dessous

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
