<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous prévenir que votre mail va changer en:  <%= @resource.unconfirmed_email %>.</p>

<% else %>
  <p>Nous vous contactons pour vous prévenir que votre mail vient d'être changé en:  <%= @resource.email %>.</p>
<% end %>
