<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a fait la demande de lien pour changer votre mot de passe. Vous pouvez le faire en cliquant sur le lien ci-dessous</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce mail.</p>
<p>Votre mot de passe ne changera pas le temps que vous ne cliquez pas sur le lien.</p>
