/* :: 4.0 Heading CSS */

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;

    h2 {
        font-size: 48px;
        margin-bottom: 0;
        line-height: 1.1;

        @media #{$breakpoint-lg} {
            font-size: 36px;
        }

        @media #{$breakpoint-md} {
            font-size: 42px;
        }

        @media #{$breakpoint-xs} {
            font-size: 30px;
        }
    }

    p {
        margin-top: 15px;
        font-size: 18px;
        margin-bottom: 0;
        color: $secondary;
    }
}