<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="uza - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>JustJob - Handi Intérim</title>

    <!-- Favicon -->
    <link rel="icon" href="/style/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style/style.css">

</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="uzaNav">

                <!-- Logo -->
                <!--
                <a class="nav-brand" href="index.html"><img src="./img/core-img/logo.png" alt=""></a>
                -->
                <a class="nav-brand" href="/utilisateurs/home"><h3>JustJob</h3></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li><a href="/utilisateurs/home">Accueil</a></li>
                            <li><a href="/trajet/allTrajets">Trajets</a></li>
                            <% if utilisateur_signed_in? %>
                                <li><a href="/offres/creaOffres">Nouvelle offre</a></li>
                            <% end %>
                        </ul>

                        <!-- Get A Quote -->
                        <div class="get-a-quote ml-4 mr-3">
                            <a href="/offres/allOffres" class="btn uza-btn btn-2">Offres d'emploi</a>
                        </div>

                        <!-- Login / Register -->
                        <% if utilisateur_signed_in? %>
                            <div class="login-register-btn mx-3">
                                <a href="/utilisateurs/myAccount"><%=current_utilisateur.prenom%> <%=current_utilisateur.nom%></a>
                            </div>
                        <% else %>
                            <div class="login-register-btn mx-3">
                                <a href="/utilisateurs/sign_in">Se connecter</a> / <a href="/utilisateurs/sign_up">S'inscrire</a>
                            </div>
                        <% end %>
                    </div>
                    <!-- Nav End -->

                </div>
            </nav>
        </div>
    </div>
</header>
    <!-- ***** Header Area End ***** -->
    <%= notice %>
    <%= alert %>
    <%= yield %>



    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Handi Intérim</h4>

                        <!-- Footer Content -->
                        <div class="footer-content mb-15">
                            <h3>06 63 78 65 81</h3>
                            <p>julien.falentin@gmail.com</p>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Accès rapides</h4>

                        <!-- Nav -->
                        <nav>
                            <ul class="our-link">
                                <li><a href="/utilisateurs/home">Présentation</a></li>
                                <li><a href="/offres/allOffres">Offres d'emploi</a></li>
                                <li><a href="/offres/creaOffres">Nouvelle offre</a></li>
                                <li><a href="/utilisateurs/myAccount">Mon compte</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Resources</h4>

                        <!-- Nav -->
                        <nav>
                            <ul class="our-link">
                                <li><a href="#">Mentions légales</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">À propos du site</h4>
                        <p>Site réalisé par le département informatique de l'IUT Nancy-Charlemagne pour l'association Handi Intérim.</p>

                        <!-- Copywrite Text -->
                        <div class="copywrite-text mb-30">
                            <p>&copy; Copyright 2019 <a href="#">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="/style/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="/style/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/style/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="/style/js/uza.bundle.js"></script>
    <!-- Active js -->
    <script src="/style/js/default-assets/active.js"></script>

</body>

</html>
